#include "../zmk-nodefree-config/helper.h"
/* source keypos definitions */
#include "../zmk-nodefree-config/keypos_def/keypos_34keys.h"

/* activate bluetooth */
#define CONFIG_WIRELESS 1
#define THUMBS LH1 LH0 RH0 RH1 // thumbs
/* source the main keymap */
#include "base.keymap"
